USE [master]
GO
/****** Object:  Database [CPManager]    Script Date: 5/17/2026 10:54:34 PM ******/
CREATE DATABASE [CPManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CPManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CPManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CPManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPManager]
GO
/****** Object:  Table [dbo].[Problems]    Script Date: 5/17/2026 10:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[FolderPath] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[GeneratorCode] [nvarchar](max) NULL,
	[CheckerCode] [nvarchar](max) NULL,
	[SolutionCode] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 5/17/2026 10:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProblemId] [int] NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[SourcePath] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ExecutionTime] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Testcases]    Script Date: 5/17/2026 10:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Testcases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProblemId] [int] NOT NULL,
	[InputPath] [nvarchar](500) NOT NULL,
	[OutputPath] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Problems] ON 

INSERT [dbo].[Problems] ([Id], [Title], [Content], [FolderPath], [CreatedAt], [GeneratorCode], [CheckerCode], [SolutionCode]) VALUES (1, N'Ghép số', N'# Bài 1: Ghép số (TS10 Đồng Tháp 2025)

Lớp của bé An đang học đếm số và các phép toán cộng trừ với các số có hai chữ số. Để tăng thêm phần hấp dẫn, cô giáo đã viết lên bảng hai chữ số (từ 0 đến 9) và yêu cầu hãy ghép thành số có hai chữ số có giá trị lớn nhất (không được bắt đầu bằng chữ số 0), người đầu tiên ghép được sẽ nhận được một phần quà.

**Yêu cầu:** Hãy cho biết số lớn nhất mà các học sinh trong lớp ghép được.

### Input Format
- Một dòng chứa hai số nguyên $a$ và $b$ là hai chữ số mà cô giáo đã viết lên bảng.

### Output Format
- Một số nguyên duy nhất là kết quả lớn nhất tìm được.

### Constraints
- $0 \le a, b \le 9$
- $a + b > 0$ (Đảm bảo có ít nhất một chữ số khác 0)
- Giới hạn thời gian: 1.0s
- Giới hạn bộ nhớ: 256MB

### Example
**Input**
```
4 9
```

**Output**
```
94
```

---
**Giải thích ví dụ:** Với hai chữ số 4 và 9, ta có thể ghép thành hai số có hai chữ số là 49 và 94. Trong đó, 94 là số lớn nhất.', N'cp_workspace/problems/1', CAST(N'2026-05-11T02:59:25.610' AS DateTime), N'#include <iostream>
#include <random>
#include <cstdlib>

using namespace std;

int main(int argc, char* argv[]) {
    if (argc < 2) return 1;
    unsigned int seed = (unsigned int)atoi(argv[1]);
    mt19937 rng(seed);
    uniform_int_distribution<int> dist(0, 9);
    int a, b;
    do {
        a = dist(rng);
        b = dist(rng);
    } while (a + b == 0);
    cout << a << " " << b << endl;
    return 0;
}', N'', N'#include <iostream>
#include <algorithm>

using namespace std;

int main() {
    int a, b;
    if (!(cin >> a >> b)) return 0;
    int mx = max(a, b);
    int mn = min(a, b);
    // Result is the largest digit first, followed by the smaller digit.
    // Since a + b > 0, mx must be at least 1, so mx * 10 + mn will not start with 0.
    cout << mx * 10 + mn << endl;
    return 0;
}')
INSERT [dbo].[Problems] ([Id], [Title], [Content], [FolderPath], [CreatedAt], [GeneratorCode], [CheckerCode], [SolutionCode]) VALUES (2, N'Dãy không nguyên tố', N'Here is the formatted version of the problem from the image:

# Permutation with Non-Prime Sums

### Problem Description
Given a positive integer $N$, find a permutation $P$ of the numbers from $1$ to $N$ such that for every pair of consecutive elements $(P_i, P_{i+1})$, their sum is **NOT** a prime number.

### Input Format
The input consists of a single integer $N$ ($1 \le N \le 10^5$).

### Output Format
*   If no such permutation exists, print `-1`.
*   If such a permutation exists, print $N$ space-separated integers representing the found permutation. If there are multiple valid permutations, you may print any one of them.

### Constraints
*   $1 \le N \le 10^5$

### Example

**Input:**
```text
5
```

**Output:**
```text
1 3 5 4 2
```

**Explanation:**
The consecutive sums are:
*   $1 + 3 = 4$ (not prime)
*   $3 + 5 = 8$ (not prime)
*   $5 + 4 = 9$ (not prime)
*   $4 + 2 = 6$ (not prime)

All sums ($4, 8, 9, 6$) are not prime numbers. Note that other valid permutations exist; for example, outputting `3 1 5 4 2` would also be considered **CORRECT**.', N'cp_workspace/problems/2', CAST(N'2026-05-11T03:03:47.417' AS DateTime), N'#include <iostream>
#include <random>
#include <string>

using namespace std;

int main(int argc, char* argv[]) {
    if (argc < 2) return 1;
    int seed = stoi(argv[1]);
    mt19937 rng(seed);

    int N;
    int type = uniform_int_distribution<int>(0, 2)(rng);
    if (type == 0) {
        N = uniform_int_distribution<int>(1, 10)(rng);
    } else if (type == 1) {
        N = uniform_int_distribution<int>(1, 1000)(rng);
    } else {
        N = uniform_int_distribution<int>(1, 100000)(rng);
    }

    cout << N << endl;

    return 0;
}', N'#include <iostream>
#include <fstream>
#include <vector>
#include <numeric>
#include <algorithm>
#include <string>

using namespace std;

bool is_prime(int n) {
    if (n < 2) return false;
    if (n == 2 || n == 3) return true;
    if (n % 2 == 0 || n % 3 == 0) return false;
    for (int i = 5; i * i <= n; i += 6) {
        if (n % i == 0 || n % (i + 2) == 0) return false;
    }
    return true;
}

int main(int argc, char* argv[]) {
    if (argc < 4) return 1;
    ifstream input(argv[1]);
    ifstream user_output(argv[3]);
    if (!input.is_open() || !user_output.is_open()) return 1;

    int N;
    if (!(input >> N)) return 1;

    string first_token;
    if (!(user_output >> first_token)) return 1;

    if (first_token == "-1") {
        if (N >= 2 && N <= 4) return 0;
        return 1;
    }

    vector<int> p(N);
    try {
        p[0] = stoi(first_token);
        for (int i = 1; i < N; i++) {
            if (!(user_output >> p[i])) return 1;
        }
    } catch (...) {
        return 1;
    }

    vector<int> count(N + 1, 0);
    for (int i = 0; i < N; i++) {
        if (p[i] < 1 || p[i] > N) return 1;
        if (++count[p[i]] > 1) return 1;
    }

    for (int i = 0; i < N - 1; i++) {
        if (is_prime(p[i] + p[i+1])) return 1;
    }

    string extra;
    if (user_output >> extra) return 1;

    return 0;
}', N'#include <iostream>
#include <vector>

using namespace std;

void solve() {
    int N;
    if (!(cin >> N)) return;
    if (N == 1) {
        cout << 1 << endl;
        return;
    }
    if (N >= 2 && N <= 4) {
        cout << -1 << endl;
        return;
    }

    // For N >= 5, we can use the bridge O=5 and E=4 (5+4=9, composite)
    // Any other odd pairs or even pairs will sum to an even number >= 4, which is composite.
    vector<int> res;
    // Collect all odds except 5
    for (int i = 1; i <= N; i += 2) {
        if (i != 5) res.push_back(i);
    }
    // Add bridge elements
    res.push_back(5);
    res.push_back(4);
    // Collect all evens except 4
    for (int i = 2; i <= N; i += 2) {
        if (i != 4) res.push_back(i);
    }

    for (int i = 0; i < res.size(); i++) {
        cout << res[i] << (i == (int)res.size() - 1 ? "" : " ");
    }
    cout << endl;
}

int main() {
    ios_base::sync_with_stdio(false);
    cin.tie(NULL);
    solve();
    return 0;
}')
INSERT [dbo].[Problems] ([Id], [Title], [Content], [FolderPath], [CreatedAt], [GeneratorCode], [CheckerCode], [SolutionCode]) VALUES (3, N'TST Quảng Trị 2025, V1-B2', N'# [Quảng Trị - TST - 2025] Vòng 1 - Bài 2: Hành lang an toàn

*   **Giới hạn thời gian:** 1.0s
*   **Giới hạn bộ nhớ:** 256MB

### Problem Description

Để bảo vệ các lãnh đạo cao cấp tham gia trong lễ diễu binh và diễu hành kỷ niệm 80 năm Quốc khánh nước Cộng hòa xã hội chủ nghĩa Việt Nam, bộ phận an ninh triển khai dãy các cảm biến dọc hành lang các lãnh đạo cấp cao đang ngồi trong lúc buổi lễ diễn ra. Mỗi cảm biến có ngưỡng cảnh báo tức là giới hạn cảnh báo trước khi phát tín hiệu không an toàn.

Để đánh giá độ an toàn của một hành lang từ cảm biến $i$ đến cảm biến $j$ ($1 \le i \le j \le n$), trung tâm sử dụng công thức:

$$Risk(i, j) = a_i + a_j + \min(a_i, a_{i+1}, \dots, a_j)$$

Trong đó:
*   $a_i$: ngưỡng của cảm biến đầu đoạn.
*   $a_j$: ngưỡng của cảm biến cuối đoạn.
*   $\min(a_i, a_{i+1}, \dots, a_j)$: ngưỡng nhỏ nhất trong đoạn, điểm có giới hạn cảnh báo thấp nhất trong đoạn.

Một đoạn hành lang từ vị trí $i$ đến vị trí $j$ được coi là an toàn nếu $Risk(i, j) \le k$. Ngược lại, nếu vượt quá $k$ thì đoạn hành lang đó sẽ không an toàn.

**Yêu cầu:** Cho $n$ cảm biến được đặt dọc hành lang theo thứ tự từ $1$ đến $n$, tại một thời điểm cảm biến thứ $i$ có ngưỡng cảnh báo $a_i$. Hãy đếm số lượng đoạn $[i, j]$ là đoạn hành lang an toàn.

---

### Input Format

Dữ liệu vào từ file văn bản `SECINT.INP`:
*   Dòng đầu tiên: chứa hai số nguyên dương $n, k$
    *   $n$: số lượng cảm biến ($1 \le n \le 100,000$);
    *   $k$: ngưỡng an toàn tối đa cho phép ($0 \le k \le 10^9$).
*   Dòng thứ 2: chứa $n$ số nguyên $a_1, a_2, \dots, a_n$
    *   $a_i$: ngưỡng cảnh báo của cảm biến thứ $i$ ($0 \le a_i \le 10^9$)

**Lưu ý:** Các số trên một dòng cách nhau bởi dấu cách.

---

### Output Format

Ghi ra file văn bản `SECINT.OUT` một số nguyên dương duy nhất là kết quả bài toán.

---

### Scoring

*   **Subtask 1 (20%):** $n \le 5000$.
*   **Subtask 2 (20%):** $n \le 10^5, a_i \le a_{i+1}$ với $1 \le i < n$.
*   **Subtask 3 (20%):** $n \le 10^5$. Tồn tại vị trí $t$ sao cho $a_1 \le a_2 \le \dots \le a_t \ge a_{t+1} \ge \dots \ge a_n$.
*   **Subtask 4 (40%):** Không có giới hạn gì thêm.

---

### Example 1

**Input**
```text
6 5
3 4 2 6 1 3
```

**Output**
```text
4
```

**Note 1**
Có 4 đoạn an toàn: $[1, 5], [3, 5], [5, 5], [5, 6]$.

---

### Example 2

**Input**
```text
6 6
4 3 1 2 5 3
```

**Output**
```text
7
```

**Note 2**
Có 7 đoạn an toàn: $[1, 3], [2, 3], [2, 4], [3, 3], [3, 4], [3, 6], [4, 4]$.', N'cp_workspace/problems/3', CAST(N'2026-05-12T17:02:55.120' AS DateTime), N'#include <iostream>
#include <vector>
#include <random>
#include <algorithm>

using namespace std;

int main(int argc, char* argv[]) {
    if (argc < 2) return 1;
    int seed = atoi(argv[1]);
    mt19937 rng(seed);

    int n_max = 100000;
    int n;
    if (seed % 10 == 0) n = uniform_int_distribution<int>(1, 5000)(rng);
    else n = uniform_int_distribution<int>(n_max / 2, n_max)(rng);

    long long k_limit = 1000000000;
    long long k = uniform_int_distribution<long long>(0, k_limit)(rng);

    cout << n << " " << k << endl;

    vector<int> a(n);
    if (seed % 7 == 1) {
        // Sorted
        for (int i = 0; i < n; ++i) a[i] = uniform_int_distribution<int>(0, k_limit)(rng);
        sort(a.begin(), a.end());
    } else if (seed % 7 == 2) {
        // Unimodal
        int t = uniform_int_distribution<int>(0, n - 1)(rng);
        for (int i = 0; i < n; ++i) a[i] = uniform_int_distribution<int>(0, k_limit)(rng);
        sort(a.begin(), a.begin() + t + 1);
        sort(a.begin() + t + 1, a.end(), greater<int>());
    } else {
        // Random
        for (int i = 0; i < n; ++i) a[i] = uniform_int_distribution<int>(0, k_limit)(rng);
    }

    for (int i = 0; i < n; ++i) {
        cout << a[i] << (i == n - 1 ? "" : " ");
    }
    cout << endl;

    return 0;
}', N'', N'#include <iostream>
#include <vector>
#include <algorithm>
#include <stack>

using namespace std;

typedef long long ll;

const int MAXN = 100005;
const int MAX_NODES = MAXN * 60;

int n;
ll k;
int a[MAXN];
int L[MAXN], R[MAXN];
vector<int> vals;

struct Node {
    int count;
    int left, right;
} tree[MAX_NODES];

int nodes_cnt = 0;
int root[MAXN];

int update(int prev_node, int l, int r, int val) {
    int node = ++nodes_cnt;
    if (prev_node) {
        tree[node] = tree[prev_node];
    } else {
        tree[node].count = 0;
        tree[node].left = tree[node].right = 0;
    }
    tree[node].count++;
    if (l == r) return node;
    int mid = l + (r - l) / 2;
    if (val <= mid) {
        tree[node].left = update(prev_node ? tree[prev_node].left : 0, l, mid, val);
    } else {
        tree[node].right = update(prev_node ? tree[prev_node].right : 0, mid + 1, r, val);
    }
    return node;
}

int query(int node_l, int node_r, int l, int r, int ql, int qr) {
    if (ql > qr || l > qr || r < ql || node_r == 0) return 0;
    if (ql <= l && r <= qr) {
        return tree[node_r].count - (node_l ? tree[node_l].count : 0);
    }
    int mid = l + (r - l) / 2;
    return query(node_l ? tree[node_l].left : 0, tree[node_r].left, l, mid, ql, qr) +
           query(node_l ? tree[node_l].right : 0, tree[node_r].right, mid + 1, r, ql, qr);
}

int main() {
    ios::sync_with_stdio(false);
    cin.tie(NULL);

    if (!(cin >> n >> k)) return 0;
    for (int i = 1; i <= n; ++i) {
        cin >> a[i];
        vals.push_back(a[i]);
    }

    sort(vals.begin(), vals.end());
    vals.erase(unique(vals.begin(), vals.end()), vals.end());
    int num_vals = (int)vals.size();

    for (int i = 1; i <= n; ++i) {
        int val_idx = lower_bound(vals.begin(), vals.end(), a[i]) - vals.begin() + 1;
        root[i] = update(root[i - 1], 1, num_vals, val_idx);
    }

    stack<int> s;
    for (int i = 1; i <= n; ++i) {
        while (!s.empty() && a[s.top()] > a[i]) s.pop();
        L[i] = s.empty() ? 0 : s.top();
        s.push(i);
    }
    while (!s.empty()) s.pop();
    for (int i = n; i >= 1; --i) {
        while (!s.empty() && a[s.top()] >= a[i]) s.pop();
        R[i] = s.empty() ? n + 1 : s.top();
        s.push(i);
    }

    ll total_safe = 0;
    for (int m = 1; m <= n; ++m) {
        int l_range = L[m] + 1;
        int r_range = R[m] - 1;

        if (m - l_range <= r_range - m) {
            for (int i = l_range; i <= m; ++i) {
                ll target = k - a[m] - a[i];
                int upper_idx;
                if (target < vals[0]) upper_idx = 0;
                else if (target >= vals.back()) upper_idx = num_vals;
                else upper_idx = upper_bound(vals.begin(), vals.end(), (int)target) - vals.begin();
                
                if (upper_idx > 0) {
                    total_safe += query(root[m - 1], root[r_range], 1, num_vals, 1, upper_idx);
                }
            }
        } else {
            for (int j = m; j <= r_range; ++j) {
                ll target = k - a[m] - a[j];
                int upper_idx;
                if (target < vals[0]) upper_idx = 0;
                else if (target >= vals.back()) upper_idx = num_vals;
                else upper_idx = upper_bound(vals.begin(), vals.end(), (int)target) - vals.begin();

                if (upper_idx > 0) {
                    total_safe += query(root[l_range - 1], root[m], 1, num_vals, 1, upper_idx);
                }
            }
        }
    }

    cout << total_safe << endl;

    return 0;
}')
INSERT [dbo].[Problems] ([Id], [Title], [Content], [FolderPath], [CreatedAt], [GeneratorCode], [CheckerCode], [SolutionCode]) VALUES (4, N'Cuộc chạy tiếp sức', N'Based on the image provided, here is the formatted competitive programming problem.

# [CAU4] Cuộc chạy tiếp sức (Relay Race)

**Giới hạn thời gian:** 1.0s  
**Giới hạn bộ nhớ:** 256MB  
**Tên tệp dữ liệu:** `CAU4.INP` / `CAU4.OUT`

---

### Problem Description

Vào một ngày đẹp trời, trường X đã tổ chức một cuộc chạy tiếp sức tại hội thao kỷ niệm thành lập trường. Có rất nhiều lớp tham gia vào cuộc đua này, và ai ai cũng muốn giành chiến thắng.

Mỗi đội sẽ có một huấn luyện viên để luyện tập cũng như xếp đội hình để chạy tiếp sức. Cô giáo Y được bổ nhiệm làm huấn luyện viên của lớp Z. Lớp Z có $n$ học sinh tham gia vào cuộc đua. Họ sẽ chạy lần lượt trong cuộc đua, người thứ $i$ có tốc độ là $s_i$.

Sự khác biệt $d_i$ ở giai đoạn thứ $i$ là sự khác biệt giữa tốc độ chạy tối đa và tốc độ chạy tối thiểu giữa $i$ thành viên đầu tiên đã tham gia cuộc đua.

Nói cách khác, nếu $a_i$ thể hiện tốc độ của thành viên thứ $i$ đã tham gia cuộc đua, thì:
$$d_i = \max(a_1, a_2, \dots, a_i) - \min(a_1, a_2, \dots, a_i)$$

Cô giáo Y tính được rằng, khả năng đoạt giải nhất càng lớn khi tổng $d_1 + d_2 + \dots + d_n$ đạt giá trị nhỏ nhất. Để có thể làm giảm tổng $d_1 + d_2 + \dots + d_n$, cô giáo sẽ thay đổi thứ tự chạy của các thành viên.

**Yêu cầu:** Tìm giá trị nhỏ nhất của tổng $d_1 + d_2 + \dots + d_n$ sau khi đã sắp xếp lại thứ tự chạy của $n$ thành viên.

---

### Input Format

Dữ liệu được đọc từ tệp văn bản `CAU4.INP`:
* **Dòng thứ nhất:** Gồm một số nguyên $n$ ($1 \le n \le 2000$) – là số thành viên tham gia cuộc đua.
* **Dòng thứ hai:** Gồm $n$ số nguyên $s_1, s_2, \dots, s_n$ ($1 \le s_i \le 10^9$) – là tốc độ chạy của các thành viên.

---

### Output Format

* Ghi kết quả ra tệp văn bản `CAU4.OUT`: Một số nguyên duy nhất là tổng $d_i$ nhỏ nhất tìm được.

---

### Scoring

| Subtask | Score | Constraints |
| :--- | :--- | :--- |
| 1 | 20% | $n \le 10$ |
| 2 | 30% | $n \le 2000$ và $s_i = i$ |
| 3 | 50% | $n \le 2000$ |

---

### Giải thích (Summary for Clarity)
*   **Goal:** Arrange the given speeds $s_1, \dots, s_n$ into a sequence $a_1, \dots, a_n$ to minimize $\sum_{i=1}^{n} (\max(a_1 \dots a_i) - \min(a_1 \dots a_i))$.
*   Note that $d_1$ is always 0 because $\max(a_1) - \min(a_1) = 0$.
*   The problem can be solved using Dynamic Programming after sorting the input speeds.', N'cp_workspace/problems/4', CAST(N'2026-05-12T21:32:15.480' AS DateTime), N'#include <iostream>
#include <vector>
#include <algorithm>
#include <random>
#include <string>

using namespace std;

int main(int argc, char* argv[]) {
    if (argc < 2) return 1;
    unsigned int seed = (unsigned int)stoul(argv[1]);
    mt19937 rng(seed);

    int type = seed % 10;
    int n;
    if (type == 0) {
        n = uniform_int_distribution<int>(1, 10)(rng);
    } else if (type >= 1 && type <= 3) {
        n = uniform_int_distribution<int>(1000, 2000)(rng);
    } else {
        n = uniform_int_distribution<int>(1, 2000)(rng);
    }

    vector<long long> s(n);
    if (type == 1) { // s_i = i (permuted)
        for (int i = 0; i < n; ++i) s[i] = i + 1;
        shuffle(s.begin(), s.end(), rng);
    } else if (type == 2) { // s_i = some consecutive sequence
        long long start = uniform_int_distribution<long long>(1, 1000000000 - n)(rng);
        for (int i = 0; i < n; ++i) s[i] = start + i;
        shuffle(s.begin(), s.end(), rng);
    } else if (type == 3) { // All s_i same
        long long val = uniform_int_distribution<long long>(1, 1000000000)(rng);
        for (int i = 0; i < n; ++i) s[i] = val;
    } else { // General random s_i
        uniform_int_distribution<long long> dist_s(1, 1000000000);
        for (int i = 0; i < n; ++i) s[i] = dist_s(rng);
    }

    cout << n << "\n";
    for (int i = 0; i < n; ++i) {
        cout << s[i] << (i == n - 1 ? "" : " ");
    }
    cout << endl;

    return 0;
}', N'', N'#include <iostream>
#include <vector>
#include <algorithm>

using namespace std;

// Use a fixed size array for DP to ensure it fits in memory and is fast.
const int MAXN = 2005;
long long dp[MAXN][MAXN];

int main() {
    // Faster I/O
    ios_base::sync_with_stdio(false);
    cin.tie(NULL);

    int n;
    if (!(cin >> n)) return 0;

    vector<long long> s(n);
    for (int i = 0; i < n; ++i) {
        cin >> s[i];
    }

    // Sort the speeds to use the contiguous range property.
    // To minimize the sum of differences (max - min), elements added at each step
    // should form a contiguous range in the sorted speeds.
    sort(s.begin(), s.end());

    // dp[i][j] will store the minimum sum of differences d1 + d2 + ... + dk
    // for a sequence of k = j-i+1 elements consisting of the set {s[i], ..., s[j]}.
    // Base case: a single element range has a difference d1 = s[i] - s[i] = 0.
    for (int i = 0; i < n; ++i) {
        dp[i][i] = 0;
    }

    // Fill DP table for increasing range lengths
    for (int len = 2; len <= n; ++len) {
        for (int i = 0; i <= n - len; ++i) {
            int j = i + len - 1;
            // The current difference for range [i, j] at step k = j-i+1 is d_k = s[j] - s[i].
            // This difference is added to the minimum sum of the preceding k-1 differences,
            // which either used the set {s[i+1], ..., s[j]} or {s[i], ..., s[j-1]}.
            dp[i][j] = (s[j] - s[i]) + min(dp[i + 1][j], dp[i][j - 1]);
        }
    }

    // The answer is the minimum sum for the full range using all n elements [0, n-1].
    cout << dp[0][n - 1] << endl;

    return 0;
}')
INSERT [dbo].[Problems] ([Id], [Title], [Content], [FolderPath], [CreatedAt], [GeneratorCode], [CheckerCode], [SolutionCode]) VALUES (5, N'CF-1822D', N'# D. Super-Permutation

**Time limit:** 2 seconds  
**Memory limit:** 256 megabytes

### Problem Description

A permutation is a sequence of $n$ integers, where each integer from $1$ to $n$ appears exactly once. For example, $[1], [3, 5, 2, 1, 4], [1, 3, 2]$ are permutations, while $[2, 3, 2], [4, 3, 1], [0]$ are not.

Given a permutation $a$, we construct an array $b$, where $b_i = (a_1 + a_2 + \dots + a_i) \pmod n$.

A permutation of numbers $[a_1, a_2, \dots, a_n]$ is called a **super-permutation** if $[b_1 + 1, b_2 + 1, \dots, b_n + 1]$ is also a permutation of length $n$.

Grisha became interested whether a **super-permutation** of length $n$ exists. Help him solve this non-trivial problem. Output any **super-permutation** of length $n$, if it exists. Otherwise, output $-1$.

### Input Format

The first line contains a single integer $t$ ($1 \le t \le 10^4$) — the number of test cases. The description of the test cases follows.

Each test case consists of a single line containing one integer $n$ ($1 \le n \le 2 \cdot 10^5$) — the length of the desired permutation.

The sum of $n$ over all test cases does not exceed $2 \cdot 10^5$.

### Output Format

For each test case, output in a separate line:
*   $n$ integers — a **super-permutation** of length $n$, if it exists.
*   $-1$, otherwise.

If there are several suitable permutations, output any of them.

### Example

**Input**
```text
4
1
2
3
6
```

**Output**
```text
1
2 1
-1
6 5 2 3 4 1
```', N'cp_workspace/problems/5', CAST(N'2026-05-17T15:37:18.223' AS DateTime), N'#include <iostream>
#include <vector>
#include <random>
#include <algorithm>

using namespace std;

int main(int argc, char* argv[]) {
    if (argc < 2) return 1;
    int seed = atoi(argv[1]);
    mt19937 rng(seed);

    int max_sum_n = 200000;
    int max_t = 10000;
    
    // Distribution of t
    uniform_int_distribution<int> dist_t(1, max_t);
    int t = dist_t(rng);
    
    vector<int> n_values(t, 1);
    int remaining = max_sum_n - t;
    
    // To have some variety, we distribute the remaining sum
    // First, let''s potentially give large portions to a few cases
    int num_large = uniform_int_distribution<int>(0, min(t, 50))(rng);
    for (int i = 0; i < num_large && remaining > 0; ++i) {
        int idx = uniform_int_distribution<int>(0, t - 1)(rng);
        int add = uniform_int_distribution<int>(0, remaining)(rng);
        n_values[idx] += add;
        remaining -= add;
    }
    
    // Then distribute what''s left among all cases more evenly
    for (int i = 0; i < t && remaining > 0; ++i) {
        int add = uniform_int_distribution<int>(0, remaining / (t - i) + 1)(rng);
        add = min(add, remaining);
        n_values[i] += add;
        remaining -= add;
    }
    
    // Any leftover goes to a random element
    if (remaining > 0) {
        n_values[rng() % t] += remaining;
    }
    
    shuffle(n_values.begin(), n_values.end(), rng);

    cout << t << "\n";
    for (int n : n_values) {
        cout << n << "\n";
    }

    return 0;
}', N'#include <iostream>
#include <vector>
#include <fstream>
#include <set>

using namespace std;

int main(int argc, char* argv[]) {
    if (argc < 4) return 1;
    ifstream inf(argv[1]);
    ifstream exp(argv[2]);
    ifstream ouf(argv[3]);

    int t;
    if (!(inf >> t)) return 1;
    while (t--) {
        int n;
        if (!(inf >> n)) break;
        int first_ouf;
        if (!(ouf >> first_ouf)) return 1;
        if (first_ouf == -1) {
            if (n == 1 || n % 2 == 0) return 1;
        } else {
            if (n > 1 && n % 2 != 0) return 1;
            vector<int> a(n);
            a[0] = first_ouf;
            for (int i = 1; i < n; i++) {
                if (!(ouf >> a[i])) return 1;
            }
            vector<int> count_a(n + 1, 0);
            for (int x : a) {
                if (x < 1 || x > n) return 1;
                count_a[x]++;
            }
            for (int i = 1; i <= n; i++) if (count_a[i] != 1) return 1;
            long long sum = 0;
            vector<int> count_b(n + 1, 0);
            for (int i = 0; i < n; i++) {
                sum += a[i];
                int b_val = (sum % n) + 1;
                count_b[b_val]++;
            }
            for (int i = 1; i <= n; i++) if (count_b[i] != 1) return 1;
        }
    }
    return 0;
}', N'#include <iostream>
#include <vector>

using namespace std;

void solve() {
    int n;
    if (!(cin >> n)) return;
    if (n == 1) {
        cout << "1\n";
        return;
    }
    if (n % 2 != 0) {
        cout << "-1\n";
        return;
    }
    for (int i = 0; i < n; i++) {
        if (i % 2 == 0) {
            if (i == 0) cout << n;
            else cout << i;
        } else {
            cout << n - i;
        }
        cout << (i == n - 1 ? "" : " ");
    }
    cout << "\n";
}

int main() {
    ios::sync_with_stdio(false);
    cin.tie(NULL);
    int t;
    if (!(cin >> t)) return 0;
    while (t--) {
        solve();
    }
    return 0;
}')
SET IDENTITY_INSERT [dbo].[Problems] OFF
GO
ALTER TABLE [dbo].[Problems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Testcases] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD FOREIGN KEY([ProblemId])
REFERENCES [dbo].[Problems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Testcases]  WITH CHECK ADD FOREIGN KEY([ProblemId])
REFERENCES [dbo].[Problems] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
